@font-face {
	font-family: "PlayfairDisplay-Regular";
	font-weight: normal;
	font-style: normal;
	src: url("/car-hop/fonts/PlayfairDisplay-Regular.ttf");
}

@font-face {
	font-family: "PlayfairDisplay-Black";
	font-weight: black;
	src: url("/car-hop/fonts/PlayfairDisplay-Black.ttf");
}

@font-face {
	font-family: "PlayfairDisplay-Bold";
	font-weight: bold;
	src: url("/car-hop/fonts/PlayfairDisplay-Bold.ttf");
}

@font-face {
	font-family: "Aeronaves";
	src: url("/car-hop/fonts/Aeronaves.ttf");
}

:root {
	--brand: #c53f67;
	--text: #fad538;
	--sub-text: #ffffff;
	--background: white;
}







body {
	all: unset;
	margin: 0;
	background-color: var(--background);
}

#wrapper {
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	overflow-y: scroll;
}




#bar {
	position: fixed;
	display: inline-flex;
	gap: .5vw;
	top: 0;
	width: 100vw;
	height: 8vh;
	z-index: 1000;
	background-color: var(--brand);
}
#logo {
	width: 15vw;
	margin: 0;
}
.bar-button {
	all: unset;
	line-height: 8vh;
	text-align: center;	
	width: auto;
	padding: 0 3vw;
	font-size: 3.5vh;
	color: #fad538;
	cursor: pointer;
	transition: 0.1s;
}
.bar-button:hover {
	border-bottom: 2px solid white;
	transition: 0.1s;
}
#log-in {
	all: unset;

	position: relative;
	top: 25%;
	height: 50%;
	width: 5vw;
	margin-left: auto;
	right: 1vw;
	float: right;

	font-size: 2vh;
	border-color: gray;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	text-align: center;
	background-color: #fad538;
}







#footer {
	background-color: var(--brand);
}
#footer-content {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin: 5vh 0;

	display: inline-flex;
	gap: 7vw;
}
#footer-content p, #footer-content a , #footer-content span {
	color: var(--sub-text);
}
#about {
	max-width: 20vw;
}
#browse, #cta, #ci{
	display: inline-flex;
	flex-direction: column;
	gap: .5vh;
}
#browse h3, #cta h3, #ci h3 {
	color: var(--text);
	margin-bottom: .5vh;
}
#ci img {
	width: 1vw;
	filter: invert(100%);
}
