#title {
	width: 100vw;
	height: 75vh;
	background-image: linear-gradient(rgba(255,255,255,0) 97%, white 100%), url("/car-hop/img/hbg.jpg");
	background-repeat: no-repeat;
	background-position: 60% 70%;
	background-size: cover;
}

#title-text {
	position: relative;
	left: 60vw;
	top: 25vh;
	margin: 0;
	transform: translate(-50%, -50%);
	font-family: "Aeronaves";
	color: #eaea00;
	color: white;
	font-size: 8vh;
	filter: blur(2px);
}





.section {
	width: 100vw;
	min-height: 50vh;
	margin: 5vh 0;
	display: flex;
	align-items: center;
}
.y {
	background: #fceb8033;
	background: linear-gradient(white 0%, #fceb8033 20%, white 80%);
}




.group {
	position: relative;
	display: inline-flex;
	flex-direction: row;
	gap: 5vw;
	padding: 0 1em;
}
.left {
	justify-content: flex-start;
}
.left .group {
	left: 3vw;
}
.right {
	justify-content: flex-end;
}
.right .group {
	right: 3vw;
}
.group img {
	height: 40vh;
	margin: 1vw;
	aspect-ratio: 1;
	border-radius: 10%;
	object-fit: cover;
	pointer-events: none;
}



.heading {
	max-width: 37vw;
	color: #333366;
	font-family: "PlayfairDisplay-Black";
	font-weight: black;
}
.text {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 8;
	-webkit-box-orient: vertical;

	max-width: 30vw;
	font-size: 2.5vh;
	font-family: "PlayfairDisplay-Regular";
	font-weight: normal;
	font-style: normal;
}



#desc {
	display: inline-flex;
	gap: 5vw;
	position: relative;
	left: 50%;
	transform: translateX(-50%);

	padding: 2vh 2vw;
	border-radius: 10px;
	background: #dfdfdf;
}
#desc .text {
	-webkit-line-clamp: 10;
}
#desc img {
	height: 35vw;
	border-radius: 10px;
	object-fit: cover;
}
.section.sep {
	padding: 5vh 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
